$primary: #0555ff;
$secondary: #050038;

$white: #fff;
$black: #000;
$gray: #5b5e6d;

$section-gray: #f8f8fa;
$footer-bg: #130c3a;
$footer__input-gray: #c1c1c1;
$footer__group-gray: #7884a6;
$footer__right-reserved: #0f0937;
