footer {
  background-color: $footer-bg;
  padding-top: 15rem;
}

.footer__title {
  font-weight: 900;
  font-size: 7.2rem;
  line-height: 8.5rem;
  color: $white;

  margin-bottom: 4rem;

  max-width: 67rem;
}

.footer__input-group {
  max-width: 75rem;
  margin-bottom: 15rem;
}

.footer__form-control {
  padding: 2.4rem 3rem;
  border: 0.1rem solid rgba($white, 0.5);
  border-radius: 1rem 0rem 0rem 1rem;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 3.2rem;
  background: transparent;
  transition: background 1s;
  &::placeholder {
    color: $footer__input-gray;
  }
}

.footer__nav {
  margin-bottom: 5rem;
}

.footer__contact__title {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.4rem;
  color: $white;
  margin-bottom: 3.3rem;
}

.footer__contact__links {
  gap: 1rem;
  margin-bottom: 2rem;
}

.footer__contact__link {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.8rem;

  text-decoration: none;
}

.footer__group__title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.5rem;
  color: $white;
  margin-bottom: 4.2rem;
}

.footer__group__links {
  gap: 3rem;
}

.footer__groups {
  gap: 10.5rem;
}

.footer__group__link {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;

  text-decoration: none;
}

.footer__right-reserved {
  z-index: 0;
  padding: 2rem 0;

  background: $footer__right-reserved;
  span {
    color: $white;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
}

.footer__particle {
  z-index: 0;
  &--dots {
    top: 3rem;
    left: 0;
  }
  &--orange {
    top: 2.2rem;
    left: 23.2rem;
  }
  &--blue {
    top: 0;
    right: 30.78rem;
  }
  &--not-full-circle {
    top: 35rem;
    right: 0;
  }
  &--full-circle {
    bottom: 0;
    left: 0;
  }
}
