.intro {
  padding-top: 18.1rem;
}

.intro__title {
  max-width: 95rem;
  font-weight: 900;
  font-size: 9.6rem;
  line-height: 12rem;

  margin-bottom: 3.5rem;
  @include media-breakpoint-down(sm) {
    font-size: 6rem;
    line-height: 9rem;
  }
}

.intro__text {
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 3.2rem;

  max-width: 59rem;
  margin-bottom: 4rem;
}

.intro__buttons {
  gap: 2rem;
  margin-bottom: 10rem;

  .btn--blue {
    padding: 2rem 3.7rem;
  }
}

.intro__img {
  filter: drop-shadow(0rem 2rem 7rem rgba(132, 149, 185, 0.17));
}

.intro__shapes {
  z-index: -100;
  &--first {
    top: 15rem;
    left: 4rem;
  }
  &--second {
    top: 10rem;
    right: -4rem;
  }
}

.intro__hr {
  height: 0.2rem;
  background: rgba($black, 0.5);
  margin: 10rem 0 2.5rem;
}
