.slider {
  max-width: 95.6rem;
  margin-top: 15rem;
}

.slider__container {
  margin-top: 2.5rem;
  margin-bottom: 6rem;
  z-index: -1;
}

.slider__track {
  z-index: -1;
  transition: transform 2s;
  img {
    object-fit: cover;
  }
}

.slider__item {
  margin: 0 2.5rem;
}

.slider__text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.slider__indicators {
  gap: 0.5rem;
}

.slider__indicator {
  width: 3rem;
  height: 0.3rem;
  border-radius: 0.1rem;
  background: #c4c4c4;
  cursor: pointer;
  &:hover {
    background: rgba($secondary, 0.5);
  }
  &.active {
    background: $secondary;
  }
}
