<footer class="position-relative">
  <div class="container">
    <h1 class="footer__title text-center mx-auto">It’s easy to get started. Start now.</h1>
    <div class="input-group footer__input-group mx-auto">
      <input type="email" class="form-control footer__form-control" placeholder="Enter your email" aria-label="Enter your email" />
      <button class="btn btn--footer" type="submit">Get Started</button>
    </div>
    <nav class="footer__nav d-flex justify-content-lg-between flex-column flex-lg-row align-items-center">
      <div class="footer__contacts mb-3 mb-lg-0">
        <h3 class="footer__contact__title">Spellon.</h3>
        <div class="footer__contact__links d-flex flex-column">
          <a href="https://www.google.com/maps/place/%D0%9D%D1%8C%D1%8E-%D0%99%D0%BE%D1%80%D0%BA,+%D0%A1%D0%A8%D0%90/@40.6971494,-74.2598655,10z/data=!3m1!4b1!4m5!3m4!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!8m2!3d40.7127753!4d-74.0059728" class="footer__contact__link text-gray--footer__group">Nort West, South New Work,United State</a>
          <a href="tel:+12462540569" class="footer__contact__link text-gray--footer__group">+1 246-254-0569</a>
          <a href="mailto:info@example.com" class="footer__contact__link text-gray--footer__group">Info@example.com</a>
        </div>
        <div class="footer__contact__images">
          <img src="/assets/images/footer/links.svg" alt="" />
        </div>
      </div>
      <div class="footer__groups d-flex flex-column flex-sm-row flex-nowrap">
        <div class="footer__group">
          <div class="footer__group__title">Resources</div>
          <div class="footer__group__links d-flex flex-column">
            <a href="" class="footer__group__link text-gray--footer__group">Docs</a>
            <a href="" class="footer__group__link text-gray--footer__group">Forums</a>
            <a href="" class="footer__group__link text-gray--footer__group">Jobs</a>
            <a href="" class="footer__group__link text-gray--footer__group">Join Discord</a>
            <a href="" class="footer__group__link text-gray--footer__group">Consultants</a>
          </div>
        </div>
        <div class="footer__group">
          <div class="footer__group__title">Company</div>
          <div class="footer__group__links d-flex flex-column">
            <a href="" class="footer__group__link text-gray--footer__group">About Us</a>
            <a href="" class="footer__group__link text-gray--footer__group">Careers</a>
            <a href="" class="footer__group__link text-gray--footer__group">Block Chain</a>
            <a href="" class="footer__group__link text-gray--footer__group">Privacy Policy</a>
            <a href="" class="footer__group__link text-gray--footer__group">Terms & Condition</a>
          </div>
        </div>
        <div class="footer__group">
          <div class="footer__group__title">Legal</div>
          <div class="footer__group__links d-flex flex-column">
            <a href="" class="footer__group__link text-gray--footer__group">Terms of use</a>
            <a href="" class="footer__group__link text-gray--footer__group">Privacy policy</a>
            <a href="" class="footer__group__link text-gray--footer__group">GDPR/CCPA explained</a>
            <a href="" class="footer__group__link text-gray--footer__group">Guidlines</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="footer__right-reserved">
    <span class="text-center w-100 d-block">&#169;2021 Hello All right reserved.</span>
  </div>
  <div class="footer__particles">
    <img src="/assets/images/footer/orange-particle.svg" alt="" class="footer__particle footer__particle--orange position-absolute d-none d-sm-block" />
    <img src="/assets/images/footer/blue-particle.svg" alt="" class="footer__particle footer__particle--blue position-absolute" />
    <img src="/assets/images/footer/dots.svg" alt="" class="footer__particle footer__particle--dots position-absolute" />
    <img src="/assets/images/footer/full-circle.svg" alt="" class="footer__particle footer__particle--full-circle position-absolute" />
    <img src="/assets/images/footer/not-full-circle.svg" alt="" class="footer__particle footer__particle--not-full-circle position-absolute" />
  </div>
</footer>
