<header class="w-100 position-fixed">
  <div class="container">
    <div class="header__inner d-none d-lg-flex align-items-center justify-content-between">
      <h2 class="header__logo d-block text-nowrap">Hello UI</h2>
      <ul class="nav flex-nowrap">
        <li class="nav-item">
          <a class="nav-link mx-6" href="#">Docs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tools</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Jobs</a>
        </li>
      </ul>
      <div class="buttons d-flex align-items-center justify-content-end">
        <a href="#" class="nav-link nav-link--buttons text-nowrap">Sign in</a>
        <button type="button" class="btn rounded-pill text-nowrap btn--blue btn--header">Try for free</button>
      </div>
    </div>
    <button class="burger" id="burger"></button>
  </div>
</header>
